.cs_container {
  width: 331px;
  height: 849px;
  padding: 30px 0 20px;
  box-shadow: -4px 0 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #e0e0e0;
}
.title-user-g {
  width: 82px;
  height: 16px;
  margin: 2px 188px 27px 26px;
  font-family: JosefinSans;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.cancel-user-g{
  width: 20px;
  height: 20px;
  margin: 0 15px 25px 19.1px;
  padding: 5px 5px 5px;
}
.cs_image {
  border-radius: 4px;
  top: 209px;
  left: 143px;
  width: 146px;
  height: 146px;
}
